html {
  height: 100%;
  background-color: #f3ebe4;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  width: 60%;
  height: 36%;
  /* align-items: center; */
  justify-content: center;
}
img {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  height: 100%;
  /* size: cover; */
  width: 198px;
}
.pic {
  /* margin: 0%;
    padding: 0%;
    width: 43%;
    height: 60%; */
}
.bold {
  width: 141px;
  font-family: Fraunces;
  font-size: 22px;
  font-weight: bold;
  height: 81px;
}
.text {
  font-size: 13px;
  display: grid;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  height: 288px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 19px 25px;
  padding-bottom: 12px;
  width: 187px;
}
.header {
  display: flex;
  font-family: Montserrat, "Courier New", Courier, monospace;
  justify-self: flex-start;
  height: 52%;
}
.price {
  font-family: Fraunces;
  font-size: x-large;
  color: #3c7e66;
  font-weight: bold;
}
button{
    
    display: flex;
    position: relative;
    top: 6px;
    align-items: center;
    justify-content: center;
    background-color: #3c7e66;
    color: white;
    padding: 0px;
    height: 35px;
    border-radius: 5px;
    border: none;
    padding: 0px 0px;
}
.dash{
    margin-left: 11px;
}
.cart{
    width:15px ;
    height:15px;
    margin-right: 8px;
}
.attribution {
  margin-top: 4px;
}
